/vendor/
/dist/
/.env
/config.php
/storage/sessions/*
/storage/users/*
/storage/uploads/*
!/storage/sessions/.gitignore
!/storage/users/.gitignore
!/storage/uploads/.gitignore
/storage/throttle/*
!/storage/throttle/.gitignore
.DS_Store
.idea/
.vscode/
